{% extends "base.html" %}
{% block content %}

    <div class="row mainContainer">

        <div class="row">
            <div class="banner_div col-lg-10 offset-lg-1 text-center">

                <h3>Samples of Plastic Sheets Created at DK Plastics</h3>
            </div>


        </div>
        <div class="row">

            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='whitesheets.jpg') }}"
                     alt="">
                <p>White Sheets</p>

            </div>

            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='blacksheets.jpg') }}"
                     alt="">
                <p>Black Sheets</p>

            </div>
            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='yellowsheet5.jpg') }}"
                     alt="">
                <p>Yellow Sheets</p>

            </div>
            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='yellowsheet.jpg') }}"
                     alt="">
                <p>Yellow Roll</p>

            </div>
            <div class="row">

                <div class="text-center col-lg-3">
                    <img class="img-fluid rounded mx-auto d-block"
                         style="height: auto; max-width: 100%"
                         src="{{ url_for('static', filename='blackRollerResize.png') }}"
                         alt="">
                    <p>Green Roll</p>

                </div>


            </div>

        </div>
        <div class="row">
            <div class="banner_div col-lg-10 offset-lg-1 text-center">

                <h3>Samples of Thermoformed Products Created at DK Plastics</h3>
            </div>


        </div>
        <div class="row">

            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='cylindercover.jpg') }}"
                     alt="">
                <p>Cylinder Cover</p>

            </div>

            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='dumpster-lid.jpg') }}"
                     alt="">
                <p>Dumpster Lid</p>

            </div>
            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='grainchute.jpg') }}"
                     alt="">
                <p>Grain Chute</p>

            </div>
        </div>
            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='gearhousing.jpg') }}"
                     alt="">
                <p>Gear Box Cover</p>

            </div>
            <div class="row">

                <div class="text-center col-lg-3">
                    <img class="img-fluid rounded mx-auto d-block"
                         style="height: auto; max-width: 100%"
                         src="{{ url_for('static', filename='floormat.jpg') }}"
                         alt="">
                    <p>Feeder Mat</p>

                </div>

                <div class="text-center col-lg-3">
                    <img class="img-fluid rounded mx-auto d-block"
                         style="height: auto; max-width: 100%"
                         src="{{ url_for('static', filename='endcaps.jpg') }}"
                         alt="">
                    <p>End Caps</p>

                </div>


            </div>

        <div class="row">
            <div class="banner_div col-lg-10 offset-lg-1 text-center">

                <h3>Samples of CNC Products Created at DK Plastics</h3>
            </div>


        </div>
        <div class="row">

            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='swimmingpoolcontrolboard.jpg') }}"
                     alt="">
                <p>Swimming Pool Control Board</p>

            </div>

            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='cuttingboards.jpg') }}"
                     alt="">
                <p>Cutting Boards</p>

            </div>
            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='theatrical.jpg') }}"
                     alt="">
                <p>Theatrical Applications/p>

            </div>
            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='stoplightsurround.jpg') }}"
                     alt="">
                <p>Stoplight Surround</p>

            </div>


        </div>
        <div class="row">

            <div class="text-center col-lg-3">
                <img class="img-fluid rounded mx-auto d-block"
                     style="height: auto; max-width: 100%"
                     src="{{ url_for('static', filename='productsResize.png') }}"
                     alt="">
                <p>Misc Product examples</p>

            </div>




        </div>

    </div>


    <!--End of container-->
    <script>
        function showDiv() {
            let T = document.getElementById("TestsDiv"),
                displayValue = "";
            if (T.style.display == "") displayValue = "none";
            T.style.display = displayValue;
        }

        function loading() {
            $("#loading").show();
            $("#content").hide();
        }

        $(document).ready(function () {
            console.log("Im ready ");

            showDiv();

            setTimeout(function () {
                $("#messageDiv").fadeOut("fast");
            }, 5000);
            $(window).load(function () {
                $("#loading").hide();
            });
        });
    </script>

{% endblock %}
