{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row col-lg-4 text-center vertical-align centerUpload">
        <h1>Picture Upload</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="fileInput" class="form-label">Choose File...</label>
            <input type="file" name="files[]" multiple="true" class="form-control" name="file"/>
            &nbsp
            <input type="submit"
                   id="submitBTN"
                   class="form-control btn btn-warning"
                   value="Upload File"
            />
        </form>
    </div>
</div>

{% endblock %}